[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tldextract = "*"

[dev-packages]
pre-commit = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-click = "*"
myst-parser = "*"
pytest = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
mypy = "*"
twine = "*"
setuptools-scm = "*"

[requires]
python_version = "3.9"
